## **UKWIR DATASET Visualization**

This is a notebook to showcase the recently released UKWIR dataset on water quality from effluents of sewage treatment plants and surface water. An interactive Web application is beign created from the dataset.


**Source:** [UKWIR- Chemical Investigation Programme](https://ukwir.org/chemical-investigations-programme-EIR-Database)

### Data Pre-processing

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/tosin/.local/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.16.5 in /home/tosin/.local/lib/python3.8/site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in /home/tosin/.local/lib/python3.8/site-packages (0.11.1)
Requirement already satisfied: numpy>=1.15 in /home/tosin/.local/lib/python3.8/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: matplotlib>=2.2 in /home/tosin/.local/lib/python3.8/site-packages (from seaborn) (3.3.3)
Requirement already satisfied: scipy>=1.0 in /home/tosin/.local/lib/python3.8/site-packages (from seaborn) (1.6.0)
Requirement already satisfied: pandas>=0.23 in /home/tosin/.local/lib/python3.8/site-packages (from seaborn) (1.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/tosin/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/tosin/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (2.7.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (7.0.0)
Requirement already satisfied: cycler>=0.10 in /home/tosin/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas>=0.23->seaborn) (2019.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd
import numpy as np

import seaborn as sn
import matplotlib.pyplot as plt

In [50]:
#Import cleaned effluent Dataset
#Rows with null values were removed and the data with dates before 2015 were also removed - dates are suppoed to be from 2015 - 2020 according to the documentation.

swt_data = pd.read_csv('TreatmentEffluents.csv')

In [52]:
swt_data.SampleDateTime = pd.to_datetime(swt_data.SampleDateTime) # format='%Y/%m/%d')

In [53]:
swt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639601 entries, 0 to 639600
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TreatmentPlant       639601 non-null  object
 1   SampleDateTime       639601 non-null  datetime64[ns]
 2   SampleLocationName   639601 non-null  object
 3   SampleValue          638727 non-null  float64
 4   NameDeterminandName  639601 non-null  object
 5   UnitsName            639601 non-null  object
 6   BelowMinReading      639601 non-null  object
 7   Latitude             636970 non-null  float64
 8   Longitude            636970 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 43.9+ MB

In [54]:
# Import Influent and Treatment plant location Dataset

influent = pd.read_csv('influent.csv')

In [55]:
#influent.head()

In [56]:
# no of Treatment Plants
swt_data.TreatmentPlant.nunique()

597

In [57]:
#no of recors for each Treatment Plant
swt_data.TreatmentPlant.value_counts()

Rye Meads STW           2232
Hurley STW              2071
Birtley STW             2005
Marlow STW              2002
Melbourne STW           1998
                        ...
Papworth Everard STW     650
Harpenden STW             46
Clavering STW             46
Epping STW                44
Brentwood STW             42
Name: TreatmentPlant, Length: 597, dtype: int64

In [58]:
#Explore data by columns
swt_data.describe(include='all').loc['unique', :]

<ipython-input-58-328ed1532116>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  swt_data.describe(include='all').loc['unique', :]

TreatmentPlant          597
SampleDateTime         1307
SampleLocationName        1
SampleValue             NaN
NameDeterminandName      77
UnitsName                 3
BelowMinReading           2
Latitude                NaN
Longitude               NaN
Name: unique, dtype: object

In [60]:
#Select all rows with missing values

swt_data[pd.isnull(swt_data).any(axis=1)]

,TreatmentPlant,SampleDateTime,SampleLocationName,SampleValue,NameDeterminandName,UnitsName,BelowMinReading,Latitude,Longitude
65991,Pegswood STW,2015-02-11,Treatment Effluent,NaN,HCBDD,micrograms per litre,No,55.180709,-1.635349
66218,Beddington STW,2017-12-06,Treatment Effluent,NaN,oestrone,micrograms per litre,No,51.380988,-0.140561
66219,Beddington STW,2017-12-06,Treatment Effluent,NaN,oestradiol 17b,micrograms per litre,No,51.380988,-0.140561
66220,Beddington STW,2017-12-06,Treatment Effluent,NaN,ethinyloestradiol 17a,micrograms per litre,No,51.380988,-0.140561
66221,Beddington STW,2017-12-06,Treatment Effluent,NaN,diclofenac,micrograms per litre,No,51.380988,-0.140561
...,...,...,...,...,...,...,...,...,...
627754,Beddington STW,2017-03-10,Treatment Effluent,NaN,fluoxetine,micrograms per litre,No,51.380988,-0.140561
627755,Beddington STW,2017-03-10,Treatment Effluent,NaN,tamoxifen,micrograms per litre,No,51.380988,-0.140561
627756,Beddington STW,2017-03-10,Treatment Effluent,NaN,trixylenyl phosphate,micrograms per litre,No,51.380988,-0.140561
627757,Beddington STW,2017-03-10,Treatment Effluent,NaN,benzotriazole,micrograms per litre,No,51.380988,-0.140561
627758,Beddington STW,2017-03-10,Treatment Effluent,NaN,tolyltriazole,micrograms per litre,No,51.380988,-0.140561

In [61]:
#Drop al rows with missing values

swt_data= swt_data.dropna()

In [62]:
swt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636096 entries, 0 to 639600
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TreatmentPlant       636096 non-null  object
 1   SampleDateTime       636096 non-null  datetime64[ns]
 2   SampleLocationName   636096 non-null  object
 3   SampleValue          636096 non-null  float64
 4   NameDeterminandName  636096 non-null  object
 5   UnitsName            636096 non-null  object
 6   BelowMinReading      636096 non-null  object
 7   Latitude             636096 non-null  float64
 8   Longitude            636096 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 48.5+ MB